# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/
.env/

# IDE specific files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# System files
Thumbs.db
.DS_Store